@inject UserManager<DBApplicationUser> UserManager
@model TaskViewModel
@{
    ViewData["Title"] = "Edit Task";
    var user = UserManager.FindByIdAsync(Model.UserId).Result;
    var editor = UserManager.FindByIdAsync(Model.EditorId).Result;
}
<h2>@ViewData["Title"]</h2>
<b>Creator:</b> @user.FirstName @user.LastName (@user.UserName)
@if (Model.UserId != Model.EditorId)
{
    <br/>
    <b>Last Editor:</b> @(editor.FirstName + " " + editor.LastName + " (" +editor.UserName + ")")
}
<div class="row">
    <div class="col-md-4">
        <section>
            <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group mb-3">
                    <div class="checkbox">
                        <label asp-for="DueDate">
                            @Html.DisplayNameFor(m => m.DueDate)
                            <input asp-for="DueDate" />
                        </label>
                    </div>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="Name"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <div class="checkbox">
                        <label asp-for="IsCompleted">
                            <input asp-for="IsCompleted" />
                            @Html.DisplayNameFor(m => m.IsCompleted)
                        </label>
                    </div>
                </div>
                <div class="form-group mb-3">
                    <div class="checkbox">
                        <label asp-for="IsImportant">
                            <input asp-for="IsImportant" />
                            @Html.DisplayNameFor(m => m.IsImportant)
                        </label>
                    </div>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="Description"></label>
                    <textarea asp-for="Description" class="form-control" rows="5"
                              placeholder="Введіть деталі завдання..."></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <button type="submit" class="w-100 btn btn-lg btn-primary">Edit</button>
                </div>
            </form>
        </section>
    </div>
</div>